@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: rgb(248, 248, 248);
  background-repeat: no-repeat;
  background-size: cover;
}

.admission-form{
  padding: 20px;
  margin: 100px;
  background: rgb(90, 87, 87);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
 
}

.admission-form:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 225, 0.2), 0 6px 20px 0 rgba(0, 0, 255, 0.19);
}

div label{
  color: white;
}